In [29]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')
path='../../../../ukb/data/Genetic/'

import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from OSGridConverter import grid2latlong

'''
Helper function to find out columns containing specific text
'''
def findcols(df,text):
    return [col for col in df.columns if text in col]

In [48]:
import os
os.listdir(path)

['PDoutput_chrom10.csv',
 'PDoutput_chrom3.ukb49777_cal_chr3_v2_s488264',
 'PDoutput_chrom12.csv',
 'PDoutput_chrom11.csv',
 'PDoutput_chrom3.csv',
 'PDoutput_chrom13.csv',
 'AD_sumstats_Jansenetal_2019sept.txt',
 'PDoutput_chrom2.csv',
 'chrom4snpexample.csv',
 'PDoutput_chrom8.csv',
 'PDoutput_chrom6.csv',
 'PDoutput_chrom16.csv',
 'PDoutput_chrom4.csv',
 'PDoutput_chrom14.csv',
 'PDoutput_chrom1.csv']

In [66]:
SNPlookup=pd.read_csv('%s%s' % (path,'SNPlookupfileUKB.csv'))

In [73]:
SNPlookup
mask_chrom=(SNPlookup['Chromosome']==1)
np.append('eid',[x for x in SNPlookup[mask_chrom]['Risk Variant']])

array(['eid', 'rs35749011', 'rs823118'], dtype='<U10')

In [110]:
def colrename(file,chrom=1):
    mask_chrom=(SNPlookup['Chromosome']==chrom)
    if file.shape[1]-6!=SNPlookup[mask_chrom].shape[0]:
        print(str(chrom)+" fail")
    else:
        print(str(chrom)+" success")
        df_out=file[[m for m in range(file.shape[1]) if m==1 or m>5]]
        df_out.columns=np.append('eid',[x for x in SNPlookup[mask_chrom]['Risk Variant']])
        
        return df_out

In [107]:
colrename(chrom1,1)
colrename(chrom2,2)
colrename(chrom3,3)
colrename(chrom4,4)
colrename(chrom6,6)
colrename(chrom8,8)
colrename(chrom10,10)
colrename(chrom11,11)
colrename(chrom12,12)
colrename(chrom13,13)
colrename(chrom14,14)
colrename(chrom16,16)

1 fail
2 fail
3 success
4 success
6 fail
8 success
10 success
11 success
12 success
13 success
14 success
16 success

In [111]:
dfcheck=colrename(chrom16,16)

16 success

In [112]:
dfcheck

            eid rs2904880
0       1403239       C G
1       5878175       C G
2       3424148       C G
3       1877932       G G
4       4612594       C G
...         ...       ...
488372  5831674       G G
488373  1218831       C G
488374  1056269       C G
488375  3806522       G G
488376  5875788       C G

[488377 rows x 2 columns]

In [90]:
SNPlookup.groupby('Chromosome').size()

Chromosome
1     2
2     2
3     2
4     6
6     3
8     2
10    2
11    1
12    4
13    1
14    2
16    1
17    2
dtype: int64

In [77]:
chrom1=pd.read_csv('%s%s' % (path,'PDoutput_chrom1.csv'),sep='\t',header=None)
chrom2=pd.read_csv('%s%s' % (path,'PDoutput_chrom2.csv'),sep='\t',header=None)
chrom3=pd.read_csv('%s%s' % (path,'PDoutput_chrom3.csv'),sep='\t',header=None)
chrom4=pd.read_csv('%s%s' % (path,'PDoutput_chrom4.csv'),sep='\t',header=None)
chrom6=pd.read_csv('%s%s' % (path,'PDoutput_chrom6.csv'),sep='\t',header=None)
chrom8=pd.read_csv('%s%s' % (path,'PDoutput_chrom8.csv'),sep='\t',header=None)
chrom10=pd.read_csv('%s%s' % (path,'PDoutput_chrom10.csv'),sep='\t',header=None)
chrom11=pd.read_csv('%s%s' % (path,'PDoutput_chrom11.csv'),sep='\t',header=None)
chrom12=pd.read_csv('%s%s' % (path,'PDoutput_chrom12.csv'),sep='\t',header=None)
chrom13=pd.read_csv('%s%s' % (path,'PDoutput_chrom13.csv'),sep='\t',header=None)
chrom14=pd.read_csv('%s%s' % (path,'PDoutput_chrom14.csv'),sep='\t',header=None)
chrom16=pd.read_csv('%s%s' % (path,'PDoutput_chrom16.csv'),sep='\t',header=None)

In [92]:
files=[chrom1,chrom2,chrom3,chrom4,chrom6,chrom8,chrom10,chrom11,chrom12,chrom13,chrom14,chrom16]

In [95]:
for f in files:
    print(f.shape[1]-6)

1
1
2
6
2
2
2
1
4
1
2
1

In [85]:
chrom1=pd.read_csv('%s%s' % (path,'PDoutput_chrom1.csv'),sep='\t',header=None)

chrom1

              0        1  2  3  4  5    6
0       1403239  1403239  0  0  1 -9  C C
1       5878175  5878175  0  0  2 -9  C C
2       3424148  3424148  0  0  2 -9  C T
3       1877932  1877932  0  0  2 -9  C T
4       4612594  4612594  0  0  2 -9  T T
...         ...      ... .. .. .. ..  ...
488372  5831674  5831674  0  0  2 -9  0 0
488373  1218831  1218831  0  0  2 -9  0 0
488374  1056269  1056269  0  0  1 -9  0 0
488375  3806522  3806522  0  0  2 -9  0 0
488376  5875788  5875788  0  0  1 -9  0 0

[488377 rows x 7 columns]

In [105]:
chrom2[[m for m in range(chrom2.shape[1]) if m==1 or m>5]]

              1    6
0       1403239  A A
1       5878175  A A
2       3424148  G A
3       1877932  A A
4       4612594  A A
...         ...  ...
488372  5831674  A A
488373  1218831  A A
488374  1056269  G A
488375  3806522  A A
488376  5875788  G A

[488377 rows x 2 columns]

In [38]:
chrom3=pd.read_csv('%s%s' % (path,'PDoutput_chrom3.csv'),sep='\t',header=None)

In [42]:
chrom3[[0,6]].columns=['eid','SNP3']

In [2]:
pd.read_csv('%s%s' % (path,'AD_sumstats_Jansenetal_2019sept.txt'))

FileNotFoundError: [Errno 2] File b'../../../../ukb/data/GeneticAD_sumstats_Jansenetal_2019sept.txt' does not exist: b'../../../../ukb/data/GeneticAD_sumstats_Jansenetal_2019sept.txt'

In [26]:
df=pd.read_csv('%s%s' % (path,'chrom4snpexample.csv'))

In [27]:
df.head()

       eid rs873786 rs34311866 rs4698412 rs6825004 rs13117519 rs62333164
0  1403239      T T        T T       A A       C C        C C        G G
1  5878175      C C        T T       G G       G C        C C        G G
2  3424148      T C        T T       A A       G C        C C        A G
3  1877932      C C        T T       A A       G C        C C        A G
4  4612594      C C        T T       G A       C C        C C        A G

In [28]:
ohe_cols=[col for col in df.columns if col!='eid']

pd.get_dummies(df[ohe_cols], prefix=ohe_cols)

,rs873786_0 0,rs873786_C C,rs873786_T C,rs873786_T T,rs34311866_0 0,rs34311866_C C,rs34311866_C T,rs34311866_T T,rs4698412_0 0,rs4698412_A A,...,rs6825004_G C,rs6825004_G G,rs13117519_0 0,rs13117519_C C,rs13117519_T C,rs13117519_T T,rs62333164_0 0,rs62333164_A A,rs62333164_A G,rs62333164_G G
0,0,0,0,1,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
2,0,0,1,0,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
3,0,1,0,0,0,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488372,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
488373,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
488374,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
488375,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
488376,0,1,0,0,0,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,0

In [20]:

for col in df.columns:
    if col!='eid':  
        df_out=pd.get_dummies(ohe_cols, prefix=col,columns=ohe_cols)

In [25]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [22]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})

In [24]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [23]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [30]:
import os
os.listdir(path)

['AD_sumstats_Jansenetal_2019sept.txt']

In [27]:
file=open('%s%s' % (path,'AD_sumstats_Jansenetal_2019sept.txt'))

FileNotFoundError: [Errno 2] No such file or directory: '/../../../../ukb/data/GeneticAD_sumstats_Jansenetal_2019sept.txt'